@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto&display=swap');
body {
	font-family: 'Roboto', Arial, sans-serif;
}
header, footer, main, nav {
	max-width: 60em;
	margin: 0 auto;
}
header, footer {
	background-color: #153e5c;
	color: #ffffff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
main {
	padding: 15px;
}
section p, section img, section video {
	padding-left: 15px;
} 
section .codingText, section button, section h4 {
	margin-left: 15px;
} 
section {
	margin-bottom: 50px;
}
button {
	margin-bottom: 20px;
}
img {
	max-width: 100%;
	height:	auto;
}
li {
	list-style-type: none;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h4 {
	color: #ffffff;
	background-color: #153e5c;	
	margin: 0;
	padding: 10px 10px 10px 20px;
	font-size: 16px;
}
.codingText {
	font-family: 'Cutive Mono', monospace, Arial, sans-serif;
	font-weight: bold;
	background-color: #c1cdd5;
	padding: 15px;
	border-left: 5px solid #698497;
	margin-top: 0;
}
a {
	text-decoration: none;
}
footer p a {
	color: #ffffff;
}
footer p a:hover {
	color:  #87aeb4;
}
/* navigation area - top */
nav {
	background-color: #698497;	
	text-align: center;
}
nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}
nav ul li {
	padding: 15px;
	flex: 1 1 auto; /* nav buttons span full width*/
}
nav ul li a {
	padding: 15px;
	font-size: 16px;
	color: #000000;
}
nav a:hover {
	color: #ffffff;
}
.active {
	background-color: #c1cdd5;
	height: 23px;
}
.active a:hover {
	color: #000000;
}
/* example one of animation */
#exampleOne {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleOneAnimation {
	animation-name: exampleOne;
	animation-duration: 4s;
}
@keyframes exampleOne {
	0% {background-color: #153e5c;}
	100% {background-color: #c1cdd5;}
}
/* example two of animation */
#exampleTwo {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleTwoAnimation {
	animation-name: exampleTwo;
	animation-duration: 4s;
}
@keyframes exampleTwo {
	0% {background-color: #153e5c;}
	25% {background-color: #ffffff;}
	50% {background-color: #698497;}
	75% {background-color: #000000;}
	100% {background-color: #153e5c;}
}
/* example three of animation */
#exampleThree {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleThreeAnimation {
	animation-name: exampleThree;
	animation-duration: 4s;
}
@keyframes exampleThree {
	0%   {background-color:#153e5c; height: 50px; width: 200px;}
	100% {background-color:#c1cdd5; height: 200px; width: 50px;}
}
/* example four of animation */
#exampleFour {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleFourAnimation {
	animation-name: exampleFour;
	animation-duration: 10s;
}
@keyframes exampleFour {
	0% {background-color: #153e5c;}
	25% {background-color: #ffffff;}
	50% {background-color: #698497;}
	75% {background-color: #000000;}
	100% {background-color: #153e5c;}
}
/* example five of animation */
#exampleFive {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleFiveAnimation {
	animation-name: exampleFive;
	animation-duration: 4s;
	animation-delay: 2s;
}
@keyframes exampleFive {
	0% {background-color: #153e5c;}
	100% {background-color: #c1cdd5;}
}
/* example six of animation */
#exampleSix {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleSixAnimation {
	animation-name: exampleSix;
	animation-duration: 4s;
	animation-delay: -2s;
}
@keyframes exampleSix {
	0% {background-color: #153e5c;}
	100% {background-color: #c1cdd5;}
}
/* example seven of animation */
#exampleSeven {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleSevenAnimation {
	animation-name: exampleSeven;
	animation-duration: 4s;
	animation-iteration-count: 3;
}
@keyframes exampleSeven {
	0% {background-color: #153e5c;}
	100% {background-color: #c1cdd5;}
}
/* example eight of animation */
#exampleEight {
	height: 50px;
	width: 200px;
	background-color: #153e5c;
	border: none;
}
.exampleEightAnimation {
	animation-name: exampleEight;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
@keyframes exampleEight {
	0% {background-color: #153e5c;}
	100% {background-color: #c1cdd5;}
}
/* example nine of animation */
#exampleNine {
	height: 50px;
	width: 50px;
	margin-bottom: 130px;
	background-color: #153e5c;
	border: none;
	position: relative;
}
.exampleNineAnimation {
	animation-name: exampleNine;
	animation-duration: 4s;
	animation-direction: normal;
}
@keyframes exampleNine {
	0%   {background-color:#153e5c; left:0px; top:0px;}
	25%  {background-color:#ffffff; left:100px; top:0px;}
	50%  {background-color:#698497; left:100px; top:100px;}
	75%  {background-color:#000000; left:0px; top:100px;}
	100% {background-color:#153e5c; left:0px; top:0px;}
}
/* example ten of animation */
#exampleTen {
	height: 50px;
	width: 50px;
	margin-bottom: 130px;
	background-color: #153e5c;
	border: none;
	position: relative;
}
.exampleTenAnimation {
	animation-name: exampleTen;
	animation-duration: 4s;
	animation-direction: reverse;
}
@keyframes exampleTen {
	0%   {background-color:#153e5c; left:0px; top:0px;}
	25%  {background-color:#ffffff; left:100px; top:0px;}
	50%  {background-color:#698497; left:100px; top:100px;}
	75%  {background-color:#000000; left:0px; top:100px;}
	100% {background-color:#153e5c; left:0px; top:0px;}
}
/* example eleven of animation */
#exampleEleven {
	height: 50px;
	width: 50px;
	margin-bottom: 130px;
	background-color: #153e5c;
	border: none;
	position: relative;
}
.exampleElevenAnimation {
	animation-name: exampleEleven;
	animation-duration: 4s;
	animation-direction: alternate;
}
@keyframes exampleEleven {
	0%   {background-color:#153e5c; left:0px; top:0px;}
	25%  {background-color:#ffffff; left:100px; top:0px;}
	50%  {background-color:#698497; left:100px; top:100px;}
	75%  {background-color:#000000; left:0px; top:100px;}
	100% {background-color:#153e5c; left:0px; top:0px;}
}
/* example twelve of animation */
#exampleTwelve {
	height: 50px;
	width: 50px;
	margin-bottom: 130px;
	background-color: #153e5c;
	border: none;
	position: relative;
}
.exampleTwelveAnimation {
	animation-name: exampleTwelve;
	animation-duration: 4s;
	animation-direction: alternate-reverse;
}
@keyframes exampleTwelve {
	0%   {background-color:#153e5c; left:0px; top:0px;}
	25%  {background-color:#ffffff; left:100px; top:0px;}
	50%  {background-color:#698497; left:100px; top:100px;}
	75%  {background-color:#000000; left:0px; top:100px;}
	100% {background-color:#153e5c; left:0px; top:0px;}
}