@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	font-family: 'Roboto', Arial, sans-serif;
}
header, footer, main, nav {
	max-width: 60em;
	margin: 0 auto;
}
header, footer {
	background-color: #153e5c;
	color: #ffffff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
main {
	padding: 15px;
}
section p, section img, section video {
	padding-left: 15px;
} 
img {
	max-width: 100%;
	height:	auto;
}
li {
	list-style-type: none;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h4 {
	text-decoration: underline;
	font-size: 16px;
}
a {
	text-decoration: none;
}
footer p a {
	color: #ffffff;
}
footer p a:hover {
	color:  #87aeb4;
}
/* navigation area - top */
nav {
	background-color: #698497;	
	text-align: center;
}
nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}
nav ul li {
	padding: 15px;
	flex: 1 1 auto; /* nav buttons span full width*/
}
nav ul li a {
	padding: 15px;
	font-size: 16px;
	color: #000000;
}
nav a:hover {
	color: #ffffff;
}
.active {
	background-color: #c1cdd5;
	height: 23px;
}
.active a:hover {
	color: #000000;
}
#exampleOne, #exampleTwo, #exampleThree {
	padding: 15px;
	width: 100px;
    background: #153e5c;
    color: #ffffff;
    font-weight: bold;
}
