@media only screen and (min-width: 40em) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul {
        flex-flow: row wrap;
    }
}