@media only screen and (min-width: 66em) {
    /* typography */
    header h1 {
        font-size: 50px;
    }
    nav {
        font-size: 30px;
    }
    /* heading */
    .moto {
        font-size: 35px;
    }
    /* business ads */
    #busAds {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* city page */
    #events {
        grid-template-columns: 1fr 1fr 1fr;	
    }
    /* directory page */
    .directoryGrid {
        grid-template-columns: 1fr 1fr 1fr;	
    }
    /*contact page */
    #directorNames {
        display: grid;
        grid-template-columns: 1fr 1fr;	
    }
    /* join page */
    #memlevels {
        grid-template-columns: 1fr 1fr 1fr 1fr;	
    }
}