@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&display=swap');

:root {
	--color-darkblue: #1e4f7d;
	--color-lightblue: #70baff;
	--color-darkbrown: #7d5411;
	--color-lightbrown: #c99744;
	--color-black: #000000;
	--color-white: #ffffff;
	--font-heading: 'Neuton', Arial, sans-serif;
	--font-general: 'Roboto', Arial, sans-serif;
	--font-special: 'Rochester', Arial, sans-serif;
}
main {
	max-width: 80em;
	margin: 0 auto;
	padding: 10px;
}
header, nav, footer {
	margin: 0 auto;
}
/* typography */
header h1 {
	font-size: 20px;
	margin: 0;
	color: var(--color-white);
}
h1 {
	font-family: var(--font-heading);
	color: var(--color-darkblue);
	font-size: 30px;
}
h2 {
	font-family: var(--font-heading);
	color: var(--color-darkblue);
	font-size: 25px;
}
h3 {
	font-family: var(--font-heading);
	color: var(--color-darkblue);
	font-size: 20px;
}
p {
	font-family: var(--font-general);
	font-size: 16px;
}
nav {
	font-family: var(--font-heading);
	font-size: 18px;
}
footer {
	font-family: var(--font-heading);
	font-size: 16px;
}
/* heading */
header {
	background-color: var(--color-darkblue);
	display: flex;
	align-items: center;
	justify-content: center;
}
header img {
	width: 80px;
	height:	auto;
	margin: 10px;
}
.headings {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.moto {
	font-family: var(--font-special);
	color: var(--color-lightbrown);
	font-size: 16px;
	margin: 0;
}
/* navigation */
nav {
	background-color: var(--color-lightblue);
}
.navigation {
	max-width: 80em;
	list-style: none;
	background-color: var(--color-lightblue);
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: var(--color-black);
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.responsive li {
	display: block;
}
nav a:hover {
	background-color: var(--color-darkblue);
	color: var(--color-white);
}
.active {
	background-color:var(--color-lightbrown);
	border-left: 4px solid var(--color-darkblue);
	border-right: 4px solid var(--color-darkblue);
}

